* {
    margin: 0;
    padding: 0;
    font-family: "VT323";
    background-color: rgb(62, 62, 62);

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    width: 1000px;
    text-align: center;
    border: 3px solid greenyellow;
    background-color: black;
    color: greenyellow ;
    border-radius: 10%;


}

#btn {
    margin: 30px;
}